<h1>Edit Post Id: <%= @post.id %></h1>

<%= form_for @post, url: post_path(@post), method: :patch do |f| %>
  <%= render partial: 'form', locals: {f: f, post: @post} %>
<% end %>
<%= link_to 'index', posts_path %>