<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
  <channel>
    <title>Test Store</title>
    <link>http://www.example.com</link>
    <description>An example item from the feed</description>
    <% @posts.each do |post| %>
      <item>
        <id><%= post.id %></id>
        <title><%= post.title %></title>
        <description><%= post.content %></description>
      </item>
    <% end %>
  </channel>
</rss>